@using ecommerceWebMvc.Models.Classes
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Departman</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/Home/Index">Anasayfa</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Departmanlar
                                </li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="card-box mb-30">

                <div class="pd-20 card-box mb-30">
            <div class="clearfix mb-20">
                <div class="pull-left">
                    <h4 class="text-blue h4">Departmanlar</h4>
                   
                </div>
               
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                           

                            <th scope="col">#</th>
                            <th scope="col">Departman Adı</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var b in Model)
                        {
                        <tr>
                            <th scope="row">@b.DepartmanID</th>
                            <td>@b.DepartmanAd</td>
                            <td><a href="/Departman/DepartmanSilme/@b.DepartmanID" class="btn btn-danger">Sil</a></td>

                            <td><a href="/Departman/DepartmanGetirme/@b.DepartmanID" class="btn btn-success">Güncelle</a></td>
                            <td>
                                <a href="/Departman/DepartmanDetay/@b.DepartmanID" class="btn btn-group"
                                   style="background-color: #35B8FF; color: white; ">Detaylar</a>
                            </td>
                        </tr>
                        }
                        </tbody>
                </table>
            </div>
           
        </div>

            </div>
        </div>
    </div>
</div>