
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Belle Alışveriş Websitesi</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/belle-multipurpose-bootstrap-html-template/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/belle-multipurpose-bootstrap-html-template/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="/belle-multipurpose-bootstrap-html-template/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/belle-multipurpose-bootstrap-html-template/assets/css/style.css">
    <link rel="stylesheet" href="/belle-multipurpose-bootstrap-html-template/assets/css/responsive.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body class="template-index belle template-index-belle">
    <div id="pre-loader">
        <img src="/belle-multipurpose-bootstrap-html-template/assets/images/loader.gif" alt=",Loading..." />
    </div>
    <div class="pageWrapper">

        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-8 col-md-5 col-lg-4">

                        <p class="phone-no"><i class="anm anm-phone-s"></i> (555) 123-4567</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                        <div class="text-center"><p class="top-header_middle-text"> Kolay ve Hızlı Alışveriş</p></div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                        <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                        <ul class="customer-links list-inline">
                            <li><a href="/Account/Login">Giriş Yap</a></li>
                            <li><a href="/Account/LogOut">Çıkış Yap</a></li>
                            <li><a href="/Account/Register">Hesap oluştur</a></li>
                            <li><a href="/Sepet/AddToWishlist">Favorilerim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap animated d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="index.html">
                            <img src="/belle-multipurpose-bootstrap-html-template/assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="/Home/Index/">Anasayfa <i class="anm anm-angle-down-l"></i></a>
                                    <div class="megamenu style1">
                                        <ul class="grid mmWrapper">
                                            <li class="grid__item large-up--one-whole">
                                                <ul class="grid">
                                                    <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                        <a href="/Home/Index/" class="site-nav lvl-1">Anasayfalar</a>
                                                        <ul class="subLinks">
                                                            <li class="lvl-2"><a href="/Home/Index/" class="site-nav lvl-2">Giyim Anasayfa</a></li>
                                                            <li class="lvl-2"><a href="/Kozmetik/Index/" class="site-nav lvl-2">Kozmetik Anasayfa</a></li>
                                                            <li class="lvl-2"><a href="/Ayakkabi/Index/" class="site-nav lvl-2">Ayakkabı Anasayfa</a></li>
                                                            <li class="lvl-2"><a href="/Taki/Index/" class="site-nav lvl-2">Takı Anasayfa</a></li>
                                                            <li class="lvl-2"><a href="/Canta/Index/" class="site-nav lvl-2">Çanta <span class="lbl nm_label1">Yeni</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="grid__item lvl-1 col-md-3 col-lg-3">


                                                        <!-- Diğer kategori seçenekleri için benzer bağlantıları ekleyebilirsiniz -->

                                                        <a href="/Urunler/Index/" class="site-nav lvl-1">Kadın</a>
                                                        <ul class="subLinks">
                                                            <li class="lvl-2"><a href="/KadinGiyim/Index/" class="site-nav lvl-2">Giyim</a></li>
                                                            <li class="lvl-2"><a href="/KadinCanta/Index/" class="site-nav lvl-2">Çanta</a></li>
                                                            <li class="lvl-2"><a href="/KadinTaki/Index/" class="site-nav lvl-2">Takı</a></li>
                                                            <li class="lvl-2"><a href="/KadinKozmetik/Index/" class="site-nav lvl-2">Kozmetik</a></li>
                                                            <li class="lvl-2"><a href="/KadinAyakkabi/Index/" class="site-nav lvl-2">Ayakkabı</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                                        <a href="#"><img src="/belle-multipurpose-bootstrap-html-template/assets/images/megamenu-bg1.jpg" alt="" title="" /></a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="lvl1 parent dropdown">
                                    <a href="#">Diğer <i class="anm anm-angle-down-l"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="/Home/AboutUs" class="site-nav">Hakkımızda</a></li>
                                        <li>
                                            <a href="compare-variant1.html" class="site-nav">Hesabım <i class="anm anm-angle-right-l"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="/Siparis/SiparisDetay" class="site-nav">Siparişlerim</a></li>
                                                <li><a href="compare-variant2.html" class="site-nav">Profilim</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                                        <li><a href="faqs.html" class="site-nav">FAQs</a></li>
                                        <li><a href="404.html" class="site-nav">404</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo">
                            <a href="/Home/Index">
                                <img src="/belle-multipurpose-bootstrap-html-template/assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                            <a href="javascript:void(0);" class="site-header__cart" title="Cart" id="cartLink">
                                <i class="icon anm anm-bag-l"></i>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i>Menüyü Kapat</div>
            <ul id="MobileNav" class="mobile-nav">
                <li class="lvl1 parent megamenu">
                    <a href="/Home/Index">Anasayfa <i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li>
                            <a href="/Home/Index" class="site-nav">Giyim Anasayfa</a>
                            <a href="/Kozmetik/Index" class="site-nav">Kozmetik Anasayfa</a>
                            <a href="/Ayakkabi/Index" class="site-nav">Ayakkabı Anasayfa</a>
                            <a href="/Taki/Index" class="site-nav">Takı Anasayfa</a>
                            <a href="/Canta/Index" class="site-nav">Çanta Anasayfa</a>

                        </li>

                    </ul>
                </li>
                <li class="lvl1 parent megamenu">
                    <a href="/Urunler/Index">Kadın <i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li>
                            <a href="/KadinGiyim/Index" class="site-nav">Giyim</a>
                            <a href="/KadinKozmetik/Index" class="site-nav">Kozmetik</a>
                            <a href="/KadinAyakkabi/Index" class="site-nav">Ayakkabı</a>
                            <a href="/KadinTaki/Index" class="site-nav">Takı</a>
                            <a href="/KadinCanta/Index" class="site-nav">Çanta</a>

                        </li>

                    </ul>
                </li>


            </ul>
        </div>
        <!--End Mobile Menu-->
        <!--Body Content-->
        <div id="page-content">
            @RenderBody()
        </div>
        <!--End Body Content-->
        <!--Footer-->
        <footer id="footer">

            <div class="site-footer">
                <div class="container">
                    <!--Footer Links-->
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Hızlı Alışveriş</h4>
                                <ul>
                                    <li><a href="/KadinGiyim/Index">Kadın</a></li>
                                    <li><a href="/Urunler/Erkek">Erkek</a></li>
                                    <li><a href="/KadinAyakkabi/Index">Ayakkabı</a></li>
                                    <li><a href="/KadinCanta/Index">Çanta</a></li>
                                    <li><a href="/KadinTaki/Index">Takı</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Bilgiler</h4>
                                <ul>
                                    <li><a href="/Home/AboutUs">Hakkımızda</a></li>
                                    <li><a href="#">Kariyer</a></li>
                                    <li><a href="#">Gizlilik Politikamız</a></li>
                                    <li><a href="#">Şartlar &amp; Koşullar</a></li>
                                    <li><a href="#">Hesabım</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Müşteri Servisleri</h4>
                                <ul>
                                    <li><a href="#">Kişisel Veri Talebi</a></li>
                                    <li><a href="/Home/SSS">S.S.S</a></li>
                                    <li><a href="#">Bize ulaşın</a></li>
                                    <li><a href="#">Siparişler ve İadeler</a></li>
                                    <li><a href="#">Destek Merkezi</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <h4 class="h4">Bize Ulaşın</h4>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al"></i><p>1234 Elm Sokağı,,<br>Apt. 567, Merkez Şehir, ABC İL</p></li>
                                    <li class="phone"><i class="icon anm anm-phone-s"></i><p>(555) 123-4567</p></li>
                                    <li class="email"><i class="icon anm anm-envelope-l"></i><p>belle@company.com</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">
                        <div class="row">
                            <!--Footer Copyright-->
                            <!--End Footer Copyright-->
                            <!--Footer Payment Icon-->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                <ul class="payment-icons list--inline">
                                    <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <!--End Footer Payment Icon-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->
        <!--Quick View popup-->
        <!-- Newsletter Popup -->
        <!-- End Newsletter Popup -->
        <!-- Including Jquery -->
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/vendor/jquery.cookie.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/bootstrap.min.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/plugins.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/popper.min.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/lazysizes.js"></script>
        <script src="/belle-multipurpose-bootstrap-html-template/assets/js/main.js"></script>
        <script>
            document.getElementById("cartLink").addEventListener("click", function () {
                // Sepet sayfasına yönlendirme işlemi
                window.location.href = "/Sepet/Index";
            });
        </script>
        <!--For Newsletter Popup-->
        <script>
            jQuery(document).ready(function () {
                jQuery('.closepopup').on('click', function () {
                    jQuery('#popup-container').fadeOut();
                    jQuery('#modalOverly').fadeOut();
                });

                var visits = jQuery.cookie('visits') || 0;
                visits++;
                jQuery.cookie('visits', visits, { expires: 1, path: '/' });
                console.debug(jQuery.cookie('visits'));
                if (jQuery.cookie('visits') > 1) {
                    jQuery('#modalOverly').hide();
                    jQuery('#popup-container').hide();
                } else {
                    var pageHeight = jQuery(document).height();
                    jQuery('<div id="modalOverly"></div>').insertBefore('body');
                    jQuery('#modalOverly').css("height", pageHeight);
                    jQuery('#popup-container').show();
                }
                if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
            });

            jQuery(document).mouseup(function (e) {
                var container = jQuery('#popup-container');
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.fadeOut();
                    jQuery('#modalOverly').fadeIn(200);
                    jQuery('#modalOverly').hide();
                }
            });</script>
        <!--End For Newsletter Popup-->
    </div>
</body>

<!-- belle/index.html   11 Nov 2019 12:20:55 GMT -->
</html>