

@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Sayfa Başlık -->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Sık Sorulan Sorular</h1></div>
        </div>
    </div>
    <!-- Sayfa Başlık Sonu -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div id="accordionExample">
                    <h2 class="title h2">Ödeme ve İade</h2>
                    <div class="faq-body">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Ödeme Yöntemleri Nelerdir?</h4>
                        <div id="collapseOne" class="collapse panel-content" data-parent="#accordionExample">Müşterilerimize ödeme yapma konusunda çeşitli seçenekler sunmaktayız. Online ödeme seçenekleri kredi kartı veya PayPal gibi güvenli ödeme yöntemlerini içermektedir. Ayrıca, IBAN üzerinden banka transferi ile de ödeme kabul ediyoruz.</div>
                    </div>
                    <div class="faq-body">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">İade Politikası Nedir?</h4>
                        <div id="collapseTwo" class="collapse panel-content">Ürünlerimizde memnuniyetsizlik durumunda iade politikamız şunları içerir: İade talebinizi ürünün teslim tarihinden itibaren 30 gün içinde yapabilirsiniz. Ürünün kullanılmamış ve orijinal ambalajında olması gerekmektedir. İade işlemi sırasında, ödeme yöntemi olarak kullandığınız yönteme bağlı olarak iade süresi değişebilir. Daha fazla bilgi için lütfen müşteri hizmetleri ile iletişime geçin.</div>
                    </div>
                    <div class="faq-body">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Nasıl İade Yapabilirim?</h4>
                        <div class="panel-content collapse" id="collapseThree">İade yapmak istediğinizde, lütfen müşteri hizmetleri ile iletişime geçin ve iade işlemini başlatın. Size gerekli talimatları ve iade adresini sağlayacaklar. Ürünü orijinal ambalajıyla ve kullanılmamış olarak geri göndermeniz gerekecektir.</div>
                    </div>
                    <h2 class="title h2">Diğer Kaynaklar</h2>
                    <div class="faq-body">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Ürünlerin Kalitesi Nasıl Sağlanır?</h4>
                        <div class="panel-content collapse" id="collapseFour">Müşteri memnuniyeti ve ürün kalitesi bizim önceliklerimizdendir. Ürünlerimiz, titiz kalite kontrol süreçlerinden geçer ve uzman ekibimiz tarafından düzenli olarak incelenir. Böylece en yüksek kalitede ürünleri müşterilerimize sunarız.</div>
                    </div>
                    <div class="faq-body">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Nasıl Destek Alabilirim?</h4>
                        <div class="panel-content collapse" id="collapseFive">Müşteri hizmetleri ekibimiz, her türlü sorunuz ve ihtiyacınız için hizmetinizdedir. Destek almak için bizimle iletişime geçmekten çekinmeyin. İletişim bilgilerimiz web sitemizde bulunmaktadır.</div>
                    </div>
                    <div class="faq-body">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Ürünleriniz Garantili mi?</h4>
                        <div class="panel-content collapse" id="collapseSix">Evet, ürünlerimiz belirli bir garanti süresi ile gelmektedir. Garanti koşulları ürün türüne göre değişebilir. Daha fazla bilgi için ürün sayfasını veya müşteri hizmetlerimizi kontrol edin.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript dosyalarını buraya ekleyebilirsiniz -->
</body>
</html>

