@model IEnumerable<ecommerceWebMvcUser.Models.Classes.Urunler>
@using ecommerceWebMvcUser.Models.Classes;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content">
    <!--Home slider-->
    <div class="slideshow slideshow-wrapper pb-section sliderFull">
        <div class="home-slideshow">
            <div class="slide slideshow--medium">
                <div class="blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home7-banner1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home7-banner1.jpg" alt="Modern Sophistication" title="Modern Sophistication" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content classic left">
                            <div class="container">
                                <div class="wrap-caption left">
                                    <h2 class="h1 mega-title slideshow__title">Modern Sofistike</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Ecco Sharp konfor ve yenilik</span>
                                    <a href="@Url.Action("Index", "KadinAyakkabi")" class="btn">Şimdi Alışveriş Yap</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slideshow--medium">
                <div class="blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home7-banner2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home7-banner2.jpg" alt="New Season Styles" title="New Season Styles" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content classic middle">
                            <div class="container">
                                <div class="wrap-caption right">
                                    <h2 class="h1 mega-title slideshow__title">Yeni Sezon Stilleri</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Yeni gelen ayakkabılarımızla tüm sınırları aşın</span>
                                    <a href="@Url.Action("Index", "KadinAyakkabi")" class="btn">Şimdi Alışveriş Yap</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Home slider-->
    <!--Shop the Latest & Greatest Shoes-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">En Yeni ve En Harika Ayakkabıları Alın</h2>
                        <p>Belle mağazasından en popüler ayakkabıları alın</p>
                    </div>
                </div>
            </div>
            <div class="grid-products grid-products-hover-btn">
                <div class="productSlider-style1">
                    <div class="col-12 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="/Urunler/UrunDetay/67" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product1.jpg" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product1-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product1-1.jpg" alt="image" title="product">
                                <!-- End hover image -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/67">Camoscio Zip</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="old-price">540,00 ₺</span>
                                    <span class="price">500,00 ₺ </span>
                                </div>
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="/Urunler/UrunDetay/69" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product2.jpg" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product2-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product2-1.jpg" alt="image" title="product">
                                <!-- End hover image -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/69">Camoscio Boot</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">650,00 ₺</span>
                                </div>
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="/Urunler/UrunDetay/70" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product3.jpg" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product3-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product3-1.jpg" alt="image" title="product">
                                <!-- End hover image -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/70">Aqualina Heel</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">580,00 ₺</span>
                                </div>
                                <!-- end product button -->
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="/Urunler/UrunDetay/71" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product4.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product4.jpg" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product4-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product4-1.jpg" alt="image" title="product">
                                <!-- End hover image -->
                                <!-- product label -->
                                <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                                <!-- End product label -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/71">Glove ballet flats</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">350,00 ₺</span>
                                </div>
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="/Urunler/UrunDetay/72" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product5.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product5.jpg" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product5-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product5-1.jpg" alt="image" title="product">
                                <!-- End hover image -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/72">Aqualina Sandal</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">560,00 ₺</span>
                                </div>
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 item grid-view-item style2">
                        <div class="grid-view_image">
                            <!-- start product image -->
                            <a href="/Urunler/UrunDetay/73" class="grid-view-item__link">
                                <!-- image -->
                                <img class="grid-view-item__image primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product6.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product6.jpg" alt="image" title="product">
                                <!-- End image -->
                                <!-- Hover image -->
                                <img class="grid-view-item__image hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product6-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product6-1.jpg" alt="image" title="product">
                                <!-- End hover image -->
                            </a>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details hoverDetails text-center mobile">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/73">Avalon Converse</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">460,00 ₺</span>
                                </div>
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section custom-content-style1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">Moda Koleksiyonu</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="custom-text text-center">
                        <h4 class="h3">
                            <a href="#">Sıcak katmanlar, sonbahar renkleri ve modaya uygun stiller sonbahar için burada!</a>
                        </h4>
                        <div class="rte-setting"><p>%60'a varan İNDİRİM</p></div>
                        <a href="@Url.Action("Index", "KadinAyakkabi")" class="btn">Alışverişe başla</a>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="custom-text text-center">
                        <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/shoes-collection1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/shoes-collection1.jpg" alt="" title="">
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="custom-text text-center">
                        <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/shoes-collection2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/shoes-collection2.jpg" alt="" title="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="custom-text text-center">
                        <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/shoes-collection3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/shoes-collection3.jpg" alt="" title="">
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="custom-text text-center">
                        <h4 class="h3">
                            <a href="#">Erkekler için sonbahar stillerinde sıcak ve havalı görünün!</a>
                        </h4>
                        <div class="rte-setting"><p>Şık ve rahat erkek ayakkabıları için doğru adres!</p></div>
                        <a href="@Url.Action("Index", "KadinAyakkabi")" class="btn">Alışverişe başla</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--End Trendy Collection-->
    <!--Three Column Products-->
    <div class="section three-column-pro">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="section-header text-left">
                        <h2 class="h2">En Popüler</h2>
                    </div>
                    <div class="grid">
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image">
                                    <a class="grid-view-item__link" href="/Urunler/UrunDetay/67">
                                        <img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/67">Camoscio Zip</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">540,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="/Urunler/UrunDetay/69"><img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product2.jpg" alt=""></a> </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/69">Camoscio Boot</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">650,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="/Urunler/UrunDetay/70"><img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product3.jpg" alt=""></a> </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/70">Aqualina Heel</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">580,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="section-header text-left">
                        <h2 class="h2">Haftanın En Çok Satanları</h2>
                    </div>
                    <div class="grid">
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image">
                                    <a class="grid-view-item__link" href="/Urunler/UrunDetay/71">
                                        <img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/71">Glove ballet flats</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">350,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="/Urunler/UrunDetay/72"><img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product5.jpg" alt=""></a> </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/72">Aqualina Sandal</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">560,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="/Urunler/UrunDetay/73"><img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product6.jpg" alt=""></a> </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/73">Avalon Converse</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">450,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="section-header text-left">
                        <h2 class="h2">Anlık İndirim</h2>
                    </div>
                    <div class="grid">
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image">
                                    <a class="grid-view-item__link" href="/Urunler/UrunDetay/67">
                                        <img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/67">Camoscio Zip</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">540,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="/Urunler/UrunDetay/69"><img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product2.jpg" alt=""></a> </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/69">Camoscio Boot</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">650,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image"> <a class="grid-view-item__link" href="/Urunler/UrunDetay/70"><img class="grid-view-item__image blur-up lazyload" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/home7-product3.jpg" alt=""></a> </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="/Urunler/UrunDetay/70">Aqualina Heel</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">580,00 ₺</span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Three Column Products-->

</div><!--End Body Content-->
