@using ecommerceWebMvc.Models.Classes
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["kategoriguncelleme"] != null)
{
    <script src="deskapp-master/src/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script src="deskapp-master/src/plugins/sweetalert2/sweet-alert.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        swal("Başarılı!", "Güncelleme başarıyla gerçekleştirildi", "success");
    </script>
}
@if (TempData["kategoriekleme"] != null)
{
    <link href="~/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/sweetalert2/sweet-alert.init.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        swal("Başarılı!", "Kategori başarıyla eklendi", "success");
    </script>
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Kategori</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Anasayfa</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Kategori
                                </li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    @*<h4 class="text-blue h4">Kategoriler</h4>*@
                    <div class="pull-left">
                        <h4 class="text-blue h4">Kategoriler</h4>

                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kategoriEkleModal">
                            Kategori Ekle
                        </button>
                    </div>
                </div>
                <!-- Kategori Ekleme Modal -->
                <div class="modal fade" id="kategoriEkleModal" tabindex="-1" role="dialog" aria-labelledby="kategoriEkleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!-- modal-dialog sınıfına modal-lg stilini ekledik -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="kategoriEkleModalLabel">Kategori Ekleme</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" method="post" action="/Kategori/KategoriEkleme">
                                    <div class="form-group">
                                        <label for="kategoriAdi">Kategori Adı</label>
                                        <input type="text" id="kategoriAdi" name="KategoriAd" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="kategoriDurum">Durum</label>
                                        <select id="kategoriDurum" name="Durum" class="form-control">
                                            <option value="true">Aktif</option>
                                            <option value="false">Pasif</option>
                                        </select>
                                    </div>
                                    @*<button type="submit" class="btn btn-primary">Kaydet</button>*@
                                    <button type="submit" class="btn btn-primary" id="kategoriEkleButton">Kaydet</button>

                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>

                            </div>
                        </div>
                    </div>
                </div>
              
                <!-- Kategori Ekleme Modal sonu -->

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">ID</th>
                                <th>Kategori Adı</th>
                                <th>Durum</th>
                                <th class="datatable-nosort">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var b in Model)
                            {
                                <tr>
                                    <td>@b.KategoriID</td>
                                    <td>@b.KategoriAd</td>
                                    <td>
                                        @if (b.Durum)
                                        {
                                            <span class="badge badge-success">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Pasif</span>
                                        }
                                    </td>
                                    <td>
    <div class="dropdown">
        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
           href="#"
           role="button"
           data-toggle="dropdown">
            <i class="dw dw-more"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
            <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> Görüntüle</a>
            <a class="dropdown-item" href="/Kategori/KategoriGetirme/@b.KategoriID">
                <i class="dw dw-edit2"></i> Düzenle
            </a>

        </div>
    </div>
</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
