@model ecommerceWebMvcUser.Models.Classes.Urunler
@using ecommerceWebMvcUser.Models.Classes;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!--Home slider-->
<div class="slideshow slideshow-wrapper pb-section">
    <div class="home-slideshow">
        <div class="slide">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home8-jewelry-banner1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home8-jewelry-banner1.jpg" alt="Wedding bands" title="Wedding bands" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content middle">
                        <div class="container">
                            <div class="wrap-caption right">
                                <h2 class="h1 mega-title slideshow__title" style="color:dimgray;">Nişan yüzükleri</h2>
                                <span class="mega-subtitle slideshow__subtitle" style="color: darkgrey;">Nişan yüzükleri, düğün gününüzün en somut unsurlarından biri olacak ve aşkınızın kalıcı sembolü olacaktır.</span>
                                <a href="@Url.Action("Index", "KadinTaki")" class="btn">Şimdi alışveriş yapın</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home8-jewelry-banner2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home8-jewelry-banner2.jpg" alt="Shop New Collection" title="Shop New Collection" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content middle">
                        <div class="container">
                            <div class="wrap-caption left">
                                <h2 class="h1 mega-title slideshow__title" style="color:grey;">Yeni Koleksiyonu İnceleyin</h2>
                                <span class="mega-subtitle slideshow__subtitle" style="color:darkgrey;">Yüksekten düşüğe, klasik veya modern. Sizi önemsiyoruz.</span>
                                <a href="@Url.Action("Index", "KadinTaki")" class="btn" >Şimdi alışveriş yapın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Home slider-->
<!--Small Banners-->
<div class="section imgBanners">
    <div class="container">
        <div class="imgBnrOuter">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2 heading-font">Yeni Koleksiyonlar</h2>
                        <p>Her tarza uygun modern ve klasik tasarımlar.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 pl-0">
                    <div class="inner btmleft">
                        <a href="/KadinTaki/Index/">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection1.jpg" alt="" class="blur-up lazyload" />
                            <span class="ttl">NAZİK ARZULAR</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 pr-0">
                    <div class="inner center">
                        <a href="/KadinTaki/Index/">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection2.jpg" alt="" class="blur-up lazyload" />
                            <span class="ttl">ONUN İÇİN HEDİYE</span>
                        </a>
                    </div>
                    <div class="inner btmright mt-4">
                        <a href="/KadinTaki/Index/">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection3.jpg" alt="" class="blur-up lazyload" />
                            <span class="ttl">SEVDİKLERİNİZ İÇİN</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Small Banners-->
<!--Hot picks-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2 heading-font">En Çok Tercih Edilenler</h2>
                    <p>Mücevher, Aşk'tan sonraki en güzel şeydir!</p>
                </div>
            </div>
        </div>
        <div class="productSlider-style2 grid-products">
            <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                    <!-- start product image -->
                    <a href="/Urunler/UrunDetay/74" class="grid-view-item__link">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products1.jpg" alt="image" title="product">
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products1-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products1-1.jpg" alt="image" title="product">
                        <!-- End hover image -->
                    </a>
                   </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                        <a href="/Urunler/UrunDetay/74">Silver Designer Pendant Set</a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                        <span class="price">2500,00 ₺</span>
                    </div>
                    <!-- End product price -->
                </div>
                <!-- End product details -->
            </div>
            <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                    <!-- start product image -->
                    <a href="/Urunler/UrunDetay/77" class="grid-view-item__link">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products2.jpg" alt="image" title="product">
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products2-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products2-1.jpg" alt="image" title="product">
                        <!-- End hover image -->
                    </a>
                </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                        <a href="/Urunler/UrunDetay/77">Cardinal Kolye Set</a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                        <span class="price">5500,00 ₺</span>
                    </div>
                    <!-- End product price -->
                </div>
                <!-- End product details -->
            </div>
            <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                    <!-- start product image -->
                    <a href="/Urunler/UrunDetay/78" class="grid-view-item__link">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products3.jpg" alt="image" title="product">
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products3-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products3-1.jpg" alt="image" title="product">
                        <!-- End hover image -->
                    </a>
                </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                        <a href="/Urunler/UrunDetay/78">Posh Diamond Yüzük</a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                        <span class="price">2500,00 ₺</span>
                    </div>
                    <!-- End product price -->
                </div>
                <!-- End product details -->
            </div>
            <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                    <!-- start product image -->
                    <a href="/Urunler/UrunDetay/81" class="grid-view-item__link">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products4.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products4.jpg" alt="image" title="product" />
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products4-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products4-1.jpg" alt="image" title="product" />
                        <!-- End hover image -->
                    </a>
                </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                        <a href="/Urunler/UrunDetay/81">Posh Diamond Bileklik</a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                        <span class="old-price">3500,00 ₺</span>
                        <span class="price">3000,00 ₺</span>
                    </div>
                    <!-- End product price -->
                </div>
                <!-- End product details -->
            </div>
            <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                    <!-- start product image -->
                    <a href="/Urunler/UrunDetay/82" class="grid-view-item__link">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products5.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products5.jpg" alt="image" title="product" />
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products5-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products5-1.jpg" alt="image" title="product" />
                        <!-- End hover image -->
                    </a>
                </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                        <a href="/Urunler/UrunDetay/82">Eye-Catchy Fancy Bileklik </a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                        <span class="price">2500,00 ₺</span>
                    </div>
                    <!-- End product price -->
                </div>
                <!-- End product details -->
            </div>
            <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                    <!-- start product image -->
                    <a href="/Urunler/UrunDetay/83" class="grid-view-item__link">
                        <!-- image -->
                        <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products6.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products6.jpg" alt="image" title="product" />
                        <!-- End image -->
                        <!-- Hover image -->
                        <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products6-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/jewellery-products/jewellery-products6-1.jpg" alt="image" title="product" />
                        <!-- End hover image -->
                    </a>
                </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                    <!-- product name -->
                    <div class="product-name">
                        <a href="/Urunler/UrunDetay/83">Tibetan Stone Beads Necklace Set</a>
                    </div>
                    <!-- End product name -->
                    <!-- product price -->
                    <div class="product-price">
                        <span class="price">7000,00 ₺</span>
                    </div>
                    <!-- End product price -->
                </div>
                <!-- End product details -->
            </div>
        </div>
    </div>
</div>
<!--End Hot picks-->

<div class="section collection-box-style1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Trend Kolyeler</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                <div class="collection-grid-item">
                    <a href="/KadinTaki/Index/" class="collection-grid-item__link">
                        <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection4.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection4.jpg" alt="Hot" class="blur-up lazyload" />
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                <div class="collection-grid-item">
                    <a href="/KadinTaki/Index/" class="collection-grid-item__link">
                        <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection5.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection5.jpg" alt="Denim" class="blur-up lazyload" />
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                <div class="collection-grid-item">
                    <a href="/KadinTaki/Index/" class="collection-grid-item__link">
                        <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection6.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/jewellery-collection6.jpg" alt="Summer" class="blur-up lazyload" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Store Feature-->
<div class="store-feature section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="display-table store-info">
                    <li class="display-table-cell">
                        <i class="icon anm anm-truck-l"></i>
                        <h5>Ücretsiz Kargo ve İade</h5>
                        <span class="sub-text">Tüm ABD siparişlerinde ücretsiz kargo</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-dollar-sign-r"></i>
                        <h5>Para İade Garantisi</h5>
                        <span class="sub-text">30 gün para iade garantisi</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-comments-l"></i>
                        <h5>Online Destek</h5>
                        <span class="sub-text">Online olarak 7/24 destek sağlıyoruz</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-credit-card-front-r"></i>
                        <h5>Güvenli Ödemeler</h5>
                        <span class="sub-text">Tüm ödemeler güvence altında ve güvenilirdir.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End Store Feature-->
<!--Hero Banner With Text-->
<div class="section hero hero--medium hero__overlay bg-size">
    <img class="bg-img" src="/belle-multipurpose-bootstrap-html-template/assets/images/parallax-banners/jewellery-parallax.jpg" alt="" />
    <div class="hero__inner">
        <div class="container">
            <div class="wrap-text right text-medium font-bold">
                <h2 class="h2 mega-title">KİŞİSELLEŞTİRİN</h2>
                <div class="rte-setting mega-subtitle">Mücevherlerinizi isim, monogram, koordinatlar, tarih veya özel bir mesajla kişiselleştirerek daha anlamlı hale getirin.</div>
                <a href="@Url.Action("Index", "KadinTaki")" class="btn">Şimdi Kişiselleştirin</a>

            </div>
        </div>
    </div>
</div>
<!--End Hero Banner With Text-->
<!--End Instagram Section-->