@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    @*<h4 class="text-blue h4">Kategoriler</h4>*@
                    <div class="pull-left">
                        <h4 class="text-blue h4">Roller</h4>

                    </div>
                </div>


                <!-- Kategori Ekleme Modal sonu -->

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">ID</th>

                                <th>İsim</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3" class="text-center">Kullanıcı Yok</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var role in Model)
                                {
                                    <tr>
                                        <td>@role.Id</td>
                                        <td>@role.Name</td>
                                        <td>
                                            @using (Html.BeginForm("Delete", "RoleAdmin", new { id = role.Id }))
                                            {
                                                <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                            }

                                        </td>
                                        <td>
                                            @Html.ActionLink("Güncelle", "Edit", new { id = role.Id }, new { @class = "btn btn-success btn-sm" })
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
