@using ecommerceWebMvc.Models.Classes
@model List<Personel>

@{
    ViewBag.Title = "PersonelListe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="container pd-0">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="title">
                                <h4> Personel Listesi</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/Home/Index">Anasayfa</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Personel Listesi
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="contact-directory-list">
                    <ul class="row">
                        @foreach (var x in Model)
                        {
                            <li class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="contact-directory-box">
                                    <div class="contact-dire-info text-center">
                                        <div class="contact-avatar">
                                            <span>
                                                <img src=" @x.PersonelGorsel" alt="" />
                                            </span>
                                        </div>
                                        <div class="contact-name">
                                            <h4>@x.PersonelAd @x.PersonelSoyad</h4>
                                            <p>UI/UX designer</p>
                                            <div class="work text-success">
                                                <i class="ion-android-person"></i>  @x.Departman.DepartmanAd
                                            </div>
                                        </div>
                                        <div class="contact-skill">
                                            <span class="badge badge-pill">UI</span>
                                            <span class="badge badge-pill">UX</span>
                                            <span class="badge badge-pill">Photoshop</span>
                                            <span class="badge badge-pill badge-primary">+ 8</span>
                                        </div>
                                      
                                    </div>
                                    <div class="view-contact">
                                        <a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-sm btn-primary">
                                            Satış Geçmişi
                                        </a>
                                    </div>
                                </div>
                            </li>
                         
                        }  </ul>
                </div>
            </div>
        </div>
       </div>
</div>