@model ecommerceWebMvcUser.Models.Classes.Urunler
@using ecommerceWebMvcUser.Models.Classes;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content">
    <!--Image Banners-->
    <div class="section imgBanners">
        <div class="imgBnrOuter">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="inner">
                            <a href="/KadinCanta/Index">
                                <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home14-bags-bnr1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/slideshow-banners/home14-bags-bnr1.jpg" alt="" title="" class="blur-up lazyload" />
                            </a>
                        </div>
                        <div class="custom-text text-center">
                            <h4 class="h3"><a href="/KadinCanta/Index">BELLE'de en yeni çanta koleksiyonlarını ve sürekli büyüyen bir ürün yelpazesini keşfedin</a></h4>
                            <div class="rte-setting">
                                <p>Mükemmel çantanızı neyin oluşturduğunu en iyi siz bilirsiniz, bu yüzden BELLE her zevke uygun geniş bir seçenek sunuyor! Favori deri çantanızı 120'den fazla marka arasından seçerek uyumlu bir cüzdanla birlikte seçin!</p>
                            </div>
                            <br>
                            <a class="btn" href="/KadinCanta/Index">Şimdi Keşfet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Image Banners-->
    <!--Featured Column-->
    <div class="section featured-column">
        <div class="container">
            <div class="row">
                <!--Featured Item-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <p>
                        <a href="/KadinCanta/Index">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner1.jpg" alt="New in !" class="blur-up lazyload">
                        </a>
                    </p>
                    <h3 class="h4"><a href="/KadinCanta/Index">Yeni Gelenler!</a></h3>
                    <div class="rte-setting"><p>Cüzdan ve küçük deri ürünler</p></div>
                    <a href="/KadinCanta/Index" class="btn no-border">Keşfet</a>
                </div>
                <!--End Featured Item-->
                <!--Featured Item-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <p>
                        <a href="/KadinCanta/Index">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner2.jpg" alt="My Valentine" class="blur-up lazyload">
                        </a>
                    </p>
                    <h3 class="h4"><a href="/KadinCanta/Index">Sevgililer Günüm</a></h3>
                    <div class="rte-setting"><p>Onun için kişiselleştirebileceğiniz hediye fikirleri</p></div>
                    <a href="/KadinCanta/Index" class="btn no-border">Keşfet</a>
                </div>
                <!--End Featured Item-->
                <!--Featured Item-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <p>
                        <a href="/KadinCanta/Index">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner3.jpg" alt="Gift ideas" class="blur-up lazyload">
                        </a>
                    </p>
                    <h3 class="h4"><a href="/KadinCanta/Index">Hediye Fikirleri</a></h3>
                    <div class="rte-setting"><p>Olağanüstü bir hediye</p></div>
                    <a href="/KadinCanta/Index" class="btn no-border">Keşfet</a>
                </div>
                <!--End Featured Item-->
            </div>
        </div>
    </div>
    <!--End Featured Column-->
    <!--Featured Column-->
    <div class="section featured-column">
        <div class="container">
            <div class="row">
                <!--Featured Item-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <p>
                        <a href="/KadinCanta/Index">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner4.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner4.jpg" alt="ICONICS Bag" class="blur-up lazyload">
                        </a>
                    </p>
                    <h3 class="h4"><a href="/KadinCanta/Index">İKONİK Çanta</a></h3>
                    <div class="rte-setting"><p>Zamanın ötesinde ve modern olup olmanın vazgeçilmezi Lancel</p></div>
                    <a href="/KadinCanta/Index" class="btn no-border">Daha Fazla</a>
                </div>
                <!--End Featured Item-->
                <!--Featured Item-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <p>
                        <a href="/KadinCanta/Index">
                            <img data-src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner5.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/collection/home14-bags-sm-banner5.jpg" alt="Pop around the world" class="blur-up lazyload">
                        </a>
                    </p>
                    <h3 class="h4"><a href="/KadinCanta/Index">Dünya Çapında Popüler</a></h3>
                    <div class="rte-setting"><p>Kadınlar için yumuşak ve hafif malzemeden yapılmış cüzdanlar</p></div>
                    <a href="/KadinCanta/Index" class="btn no-border">Daha Fazla</a>
                </div>
                <!--End Featured Item-->
            </div>
        </div>
    </div>
    <!--End Featured Column-->
    <!--Parallax Section-->
    <div class="section">
        <div class="hero hero--small hero__overlay bg-size">
            <img class="bg-img blur-up" src="/belle-multipurpose-bootstrap-html-template/assets/images/parallax-banners/home14-bags-parallax.jpg" alt="" />
            <div class="hero__inner">
                <div class="container">
                    <div class="wrap-text  center text-small font-regular">
                        <h2 class="h2 mega-title">İndirim, Ekim - Aralık 2023</h2>
                        <div class="rte-setting mega-subtitle">İki ürün satın alımında %10 ek indirim</div>
                        <a href="/KadinCanta/Index" class="btn">Şimdi Alışveriş Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Parallax Section-->
    <!--Bestselling Bags-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">En Çok Satan Çantalar</h2>
                    </div>
                    <div class="productSlider grid-products grid-products-hover-btn">
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/1" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img1.jpg" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img1-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img1-1.jpg" alt="image" title="product">
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/1">Bej Deri El Çantası</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$663.07</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/2" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img2.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img2.jpg" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img2-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img2-1.jpg" alt="image" title="product">
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/2">Wool Shoulder Pouch in Black/White</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$748.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/3" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img3.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img3.jpg" alt="image" title="product">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img3-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img3-1.jpg" alt="image" title="product">
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/3">Tenda Bag</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$550.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/5" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img4.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img4.jpg" alt="image" title="product" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img4-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img4-1.jpg" alt="image" title="product" />
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/5">Ink Splatter Shoulder Bag in Mustard/Blue</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="old-price">$900.00</span>
                                    <span class="price">$788.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/6" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img5.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img5.jpg" alt="image" title="product" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img5-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img5-1.jpg" alt="image" title="product" />
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/6">Roxanne Leather Clutch in Black</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$550.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/8" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img6.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img6.jpg" alt="image" title="product" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img6-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img6-1.jpg" alt="image" title="product" />
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/8">Pretty Grooming Bag</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$550.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/7" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img7.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img7.jpg" alt="image" title="product" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img7-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img7-1.jpg" alt="image" title="product" />
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/7">Oscar Luggage Tag in Rose</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$550.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="col-12 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="/Urunler/UrunDetay/9" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="primary blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img8.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img8.jpg" alt="image" title="product" />
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img class="hover blur-up lazyload" data-src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img8-1.jpg" src="/belle-multipurpose-bootstrap-html-template/assets/images/product-images/bags-p-img8-1.jpg" alt="image" title="product" />
                                    <!-- End hover image -->
                                </a>
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="/Urunler/UrunDetay/9">Pretty Grooming Bag</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$2,034.00</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Bestselling Bags-->


</div>

